beautifulsoup4==4.8.2
certifi==2019.11.28
cffi
chardet==3.0.4
fire==0.2.1
gevent
greenlet
idna==2.8
lxml
Pillow
pycparser==2.20
requests==2.22.0
six==1.14.0
soupsieve==2.0
termcolor==1.1.0
tqdm==4.34.0
urllib3==1.25.3
